{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="card p-3 mb-10" style="max-width: 5040px; height: 500px;">
  <div class="row g-0">
    <div class="col-md-5">
      <img src="https://smackmobile.com/wp-content/uploads/2020/06/all_device-trav.png" 
       alt="Blazing Fast 200 Mbps/20 Business or Home Internet + Live TV | Smack Mobile" 
       jsname="HiaYvf" jsaction="load:XAeZkd;" class="n3VNCb"
       data-noaft="1" style="width: 500px; height: 400px; margin: 10px;">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h1 class="card-title"><center> BIENVENU SUR L'APPLICATION DE TICKETING</center></h1>
            <h5 class="card-text">Le logiciel de tickets est conçu pour tous types d'équipes.
                Essayez-le gratuitement.Conçu pour vous accompagner à tout moment.
                Essayez Service Management™ dès maintenant ! Modernisez les workflows.
                Résolvez les problèmes.Tarifs transparents.
            </h5>
        <p class="card-text"><small class="text-muted"><center>Offres et tarifs
           Les prix s'adaptent à votre équipe Commencez vite un essai gratuit</center></small>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
