{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %} 
<div class="container">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center 
      pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">ouvrir un Ticket</h1>
      </div>
        <section class="container">
            <div class="row">
            <div class="col" id="ajouter un ticket">
             {{form(form)}}
            </div>
        </div>
        </section>
    </main>
  </div>
</div>

{% endblock %}
